body {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  overflow-x: hidden;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  overflow: hidden;
}

#date_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 24px;
}

#date_box h1,
button {
  font-size: 64px;
  font-weight: 900;
  font-family: "Inter";
  background: none;
}

#month_selector {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border: 2px solid var(--color-blue);
  position: fixed;
  top: 110px;
  left: 50%;
  display: grid;
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: repeat(4, 80px);
  grid-gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}

#month_selector button {
  width: 80px;
  height: 80px;
  display: flex;
  background-color: var(--color-blue);
  color: white;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  align-self: center;
  justify-self: center;
  border: 2px solid var(--color-blue);
  padding: 5px;
  font-size: 24px;
}

aside {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.5s ease;
  overflow: hidden;
}

#aside_btn {
  width: 40px;
  height: 32px;
  margin: 24px 24px 12px 24px;
  border: none;
  background-image: url(../ASSET/aside_icon.svg);
  flex-shrink: 0;
}

#home_btn {
  width: fit-content;
  height: fit-content;
  padding: 12px 24px 24px 24px;
  flex-shrink: 0;
}

#home_btn svg {
  width: 40px;
  height: 32px;
  background-image: url(../ASSET/home_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: inherit;
}

#home_btn p {
  text-align: center;
  margin-top: 4px;
}

#profile_box {
  border-top: 2px solid var(--color-blue);
  border-bottom: 2px solid var(--color-blue);
  padding: 32px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

.member_box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 12px;
  flex-grow: 1;
}

.member {
  width: 320px;
  min-height: 70px;
  max-height: 70px;
  padding-left: 32px;
  border-radius: 16px;
  background-color: var(--color-blue);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
}

.member:hover {
  background-color: var(--color-light-blue);
}

.account_btn_box {
  border-top: 2px solid var(--color-blue);
  padding: 24px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  transition: opacity 0.2s ease;
}

.account_btn_box button {
  min-width: 140px;
  height: 50px;
  border-radius: 16px;
  background-color: var(--color-blue);
  color: white;
  border: none;
  white-space: nowrap;
  font-size: 16px;
}

.account_btn_box button:hover {
  background-color: var(--color-light-blue);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

#right_btn {
  width: 40px;
  height: 40px;
  background-image: url(../ASSET/year_right_btn.svg);
}

#left_btn {
  width: 40px;
  height: 40px;
  background-image: url(../ASSET/year_left_btn.svg);
}

#calender_box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 108px 40px 108px;
}

#day_box {
  display: flex;
  font-size: 24px;
  padding: 8px;
}

#day_box p {
  flex-grow: 1; /* 요일 항목들이 균등하게 공간을 차지하도록 함 */
  text-align: start; /* 가운데 정렬 */
  margin: 0; /* 여백 제거 */
}

#calender_grid {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.grid_item {
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 24px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#date {
  color: black;
}

.grid_item .schedule_count {
  margin-top: 27px;
  align-self: center;
  width: 24px;
  height: 24px;
}

.grid_item:nth-child(7n) {
  border-right: none;
}

.grid_item:nth-child(-n + 7) {
  border-top: 2px solid black;
}

.grid_item:nth-child(7n + 1) {
  color: red;
}

.grid_item:nth-child(7n + 7) {
  color: var(--color-blue);
}

.grid_item:nth-last-child(-n + 3) {
  border-bottom: none;
}
