:root {
  /* color */
  --color-blue: #4b70f5;
  --color-light-blue: #3dc2ec;
  --color-red: #ff0000;
  --color-light-grey: #d9d9d9;
  --color-grey: #797a7c;
  /* ===== */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 20px;
}
.bold_text {
  font-family: "Inter";
  font-weight: 900;
}

.title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 42px;
}
